In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\Asus\Desktop\CHemtech\data_pi.csv"

df = pd.read_csv(path)

In [3]:
import numpy as np

In [6]:
df['timestamp'] =  pd.to_datetime(df['timestamp'])

In [7]:
data = df.copy()

In [8]:
data = data.set_index('timestamp', drop=True)
data

                        PI_71
timestamp
2020-04-27 15:30:00  272.0000
2020-04-27 16:30:00  272.0000
2020-04-27 19:30:00  272.0000
2020-04-27 20:30:00  272.0000
2020-04-27 21:30:00  272.0000
...                       ...
2020-08-05 19:13:45  327.6910
2020-08-05 19:14:51  327.9803
2020-08-05 19:15:28  327.9803
2020-08-05 19:16:10  328.1250
2020-08-05 19:17:14  327.9803

[60510 rows x 1 columns]

In [10]:
a = np.asarray(data)
a

array([[272.    ],
       [272.    ],
       [272.    ],
       ...,
       [327.9803],
       [328.125 ],
       [327.9803]])